<div class="view wrapper">
  <div class="add-scroll-top"></div>
  <div class="add-scroll-right"></div>
  <div class="add-scroll-left"></div>
  <iframe frameborder="0" src="https://skatskat.lv/virtuala-ture/slageris/preview/tour.html"allowfullscreen></iframe>
  <div class="add-scroll-bottom"></div>
</div>