<div class="info wrapper">
  <div class="left half">
    <div>
      Krodziņa telefona numurs:<a class="tel" href="tel:37164807101"> +37164807101</a>
    </div>

    <div>
      Beķerejas telefona numurs:<a class="tel" href="tel:37164807100"> +37164807100</a>
    </div>

    <div class="address">
      <span>Adrese:</span>  Raiņa iela 10a, Madona
    </div>

    <%= image_tag 'slageris-fasade.jpg', class: 'front' %>

    <div class="work-time">
      Darba laiks:
      <table class="time-table">
        <tr>
          <td>Pirmdiena - piektiena</td>
          <td>11:00-20:00</td>
        </tr>
        <tr>
          <td>Sestdiena</td>
          <td>11:00-17:00</td>
        </tr>
        <tr>
          <td>Svētdiena</td>
          <td>SLĒGTS</td>
        </tr>
      </table>
      <div class="stop-time">
        (virtuve pārstāj darboties 30min pirms darba laika beigām)
      </div>
    </div>
  </div>

  <div class="half right">
    <div class="right-heading"> Kā mūs atrast </div>
    <div class="map" >
      <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ4-4QiWmS6UYRIVmCN56PH4o&amp;key=AIzaSyBur_jOBmHxyBYHELuPHG_e7sRcnm0YoSE" allowfullscreen=""></iframe>
    </div>
  </div>
</div>