// Place all the styles related to the foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

@media (min-width: $desktop-min) {
  .foods {

    &-header {
      padding: 10px 0;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    .table-head {
      font-weight: 700;

      td {
        font-size: 24px;
        line-height: 2;
      }
    }

    .table-body {
      .text {
        padding: 20px 10px;
      }

      td {
        border: 1px solid #000000;
        font-size: 22px;
        line-height: 1.5;

        &:first-child {
          border-left: none;
        }
        &:last-child {
          border-right: none;
        }

        a {
          margin: 0 15px;
        }

        .edit, .show, .delete {
          display: inline-block;
          width: 32%;
          border: none;
          font-weight: 700;
        }
      }
    }

    .add {
      font-size: 26px;
      font-weight: 700;
    }

    .edit, .new {
      &_food {
        .input-block {
          font-size: 18px;

          .label {
            margin: 15px 0;
            font-weight: 700;
          }
        }

        .name, .description {
          .input {
            width: 80%;
            height: 30px;
          }
        }

        .price {
          .input {
            width: 175px;
            height: 30px;
            text-align: center;
          }
        }

        .price, .group, .is-active, .order {
          width: 25%;
          display: inline-block;
          box-sizing: border-box;
        }

        .group {
          select {
            width: 175px;
            height: 30px;
          }
        }

        .submit-btn {
          margin-top: 20px;
          width: 150px;
          height: 30px;
          font-size: 20px;
          font-weight: 700;
        }
      }
    }
  }
}

@media (max-width: $tablet-max) and (min-width: $tablet-min) {
  .foods {

    &-header {
      padding: 10px 0;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    .table-head {
      font-weight: 700;

      td {
        font-size: 22px;
        line-height: 2;
      }
    }

    .table-body {
      .text, .is-active {
        font-size: 22px;
        line-height: 1;
      }

      .text {
        padding: 20px 10px;
      }

      td {
        border: 1px solid #000000;

        &:first-child {
          border-left: none;
        }
        &:last-child {
          border-right: none;
        }

        a {
          margin: 0 15px;
        }

        &.edit, &.show, &.delete {
          border: none;
          font-weight: 700;
        }
      }
    }

    .add {
      font-size: 26px;
      font-weight: 700;
    }

    .edit, .new {
      &_food {
        .name, .description, .price, .group {
          font-size: 18px;

          .label {
            margin: 15px 0;
            font-weight: 700;
          }
        }

        .name, .description {
          .input {
            width: 80%;
            height: 30px;
          }
        }

        .price {
          .input {
            width: 175px;
            height: 30px;
            text-align: center;
          }
        }

        .group {

          select {
            width: 175px;
            height: 30px;
          }
        }

        .submit-btn {
          margin-top: 20px;
          width: 150px;
          height: 30px;
          font-size: 20px;
          font-weight: 700;
        }
      }
    }
  }
}

@media (max-width: $mobile-max) {
  .foods {

    &-header {
      padding: 10px 0;
      font-size: 60px;
    }

    table {
      border-collapse: collapse;
    }

    .table-head {
      font-weight: 700;

      td {
        font-size: 30px;
        line-height: 2;
      }

      .edit, .back, .show {
        width: 40%;
        display: inline-block;
        font-size: 44px;
      }
    }

    .edit, .new {
      &_food {
        .name, .description, .price, .group {
          font-size: 36px;

          .label {
            margin: 15px 0;
            font-weight: 700;
          }
        }

        .name {
          .input {
            width: 100%;
            height: 60px;
            font-size: 28px;
          }
        }

        .description {
          .input {
            width: 100%;
            height: 300px;
            font-size: 28px;
          }
        }

        .price {
          .input {
            width: 50%;
            height: 60px;
            text-align: center;
            font-size: 36px;

          }
        }

        .group {

          select {
            width: 50%;
            height: 60px;
            font-size: 26px;
          }
        }
      }
    }

    .submit-btn {
      margin-top: 20px;
      width: 300px;
      height: 60px;
      font-size: 44px;
      font-weight: 700;
    }
  }
}