// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.groups {
  .group-wrapper {
    display: inline-block;

    .group {
      text-align: left;

      > * {
        display: inline-block;
        cursor: pointer;
      }

      .hidden {
        display: none;
      }
    }

    .subgroup-wrapper {
      display: block;
    }

    .subgroup {
      margin-left: 30px;
      cursor: pointer;

      > * {
        display: inline-block;
      }

      .hidden {
        display: none;
      }
    }

    .delete {
      margin-left: 15px;
    }

    .new_subgroup {
      .is-active {
        margin-left: 30px;
        display: inline-block;
      }

      .name {
        display: inline-block;
      }
    }
  }

  .new-records {
    margin-top: 20px;
    display: flex;

    .new_group {
      width: 50%;

      .group {
        > div {
          margin-left: 7px;
          display: inline-block;
        }

        label {
          display: block;
          margin-bottom: 10px;
        }

        input {
          height: 25px;
        }
      }
    }

    .new_subgroup {
      width: 50%;

      .subgroup {
        > div {
          margin-left: 7px;
          display: inline-block;
        }

        label {
          display: block;
          margin-bottom: 10px;
        }

        input,
        select {
          height: 25px;
        }
      }
    }
  }

  .submit-btn {
    margin: 10px auto;
    padding: 5px 10px;
    border-radius: 8px;
    display: block;
    cursor: pointer;
  }
}
