// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.group-wrapper {
  display: inline-block;

  &_full {
    display: inline-block;
  }

  .group,
  .subgroup,
  .delete {
    display: flex;
    cursor: pointer;
  }

  .subgroup {
    margin-left: 30px;
  }

  .delete {
    margin-left: 15px;
  }

  .new_subgroup {
    .is-active {
      margin-left: 30px;
      display: inline-block;
    }

    .name {
      display: inline-block;
    }

    .submit-btn {
      margin: 10px auto;
      display: block;
    }
  }
}

.new_group {
  .group {
    display: flex;
  }

  .submit-btn {
    margin: 10px auto;
    display: block;
  }
}