// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.wrapper {
  margin: auto;
  padding: 40px 10px;
  width: 100%;
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  box-sizing: border-box;
  background-color: rgba(128, 77, 21, 0.5);
}

.main-text {
  .text {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.section-header {
  padding: 20px 0;
}

.menu {
  padding: 40px 40px 40px 50px;

  .page {
    display: none;

    &:first-child {
      display: block;
    }

    .food {
      margin-bottom: 15px;
      width: 100%;
      display: inline-block;
    }

    .eur {
      width: 15%;
      float: right;
    }

    .group-title {
      margin-bottom: 30px;
    }

    .name, .description {
      width: 85%;
      display: inline-block;
      float: left;
      text-align: left;
    }

    .price {
      width: 15%;
      display: inline-block;
      text-align: center;
    }
  }
}

.view {
  position: relative;
  margin: auto;
  height: 450px;

  iframe {
    width: 100%;
    height: 100%;
  }

  .add-scroll-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 400px;
  }

  .add-scroll-right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 38%;
  }

  .add-scroll-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 38%;
  }

    .add-scroll-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
  }
}

.gallery {
  .picture {
    display: inline-block;

    img {
      width: 100%;
    }
  }

  .show-more, .hide-more {
    cursor: pointer;
  }
}

.info {
  .front {
    width: 100%;
  }

  .map {
    height: 300px;

    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}

@media (min-width: $desktop-min) {
  .wrapper {
    max-width: 1025px;
  }

  .gallery {
    .picture {
      width: 32%;

      img {
        width: 100%;
      }
    }
  }

  .info {
    font-size: 0;

    .half {
      padding: 0 20px;
      width: 50%;
      display: table-cell;
      font-size: 20px;
    }

    .front {
      width: 100%;
    }
  }

  .left {
    text-align: left;

    .tel {
      color: darkred;
      font-weight: 300;
    }

    .address{
      font-weight: 300;

      span {
        font-weight: 700;
      }
    }

    .work-time {
      text-align: center;

      .time-table {
        width: 100%;
      }
    }
  }

  .right {
    .right-heading {
      margin-bottom: 20px;
      font-size: 26px;
    }
  }
}

@media (max-width: $tablet-max) and (min-width: $tablet-min) {
  .wrapper {
    max-width: 768px;
  }

  .gallery {
     .picture {
       width: 49%;
     }
   }

  .info {
    font-size: 0;

    .half {
      width: 50%;
      display: table-cell;
    }
  }

  .left {
    padding-right: 20px ;
    font-size: 16px;
    text-align: left;

    .tel {
      color: darkred;
      font-weight: 300;
    }

    .address{
      font-weight: 300;

      span {
        font-weight: 700;
      }
    }

    .work-time {
      text-align: center;

      .time-table {
        width: 100%;
      }
    }
  }

  .right {
    padding-left: 20px;

    .right-heading {
      margin-bottom: 20px;
      font-size: 24px;
    }
  }
}

@media (max-width: $mobile-max) {
  .section-header {
    font-size: 38px;
  }

  .main-text {
    padding: 20px 30px;
    min-width: 640px;
    font-size: 28px;
    line-height: 55px;
    text-align: justify;
  }

  .menu {
    .page {
      .name, .price {
        font-size: 28px;
      }

      .group-title {
        margin-bottom: 30px;
        font-size: 32px;
      }
    }
  }

  .gallery {
    .picture {
      width: 85%;
      margin: 0 auto 25px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .show-more, .hide-more {
      font-size: 28px;
    }
  }

  .info {
    .half {
      font-size: 32px;

      .phone,
      .address,
      .right-heading {
        margin-bottom: 15px;
      }

      .tel {
        font-size: 28px
      }
    }

    .left {
      margin-bottom: 15px;
    }

    .work-time {
      margin: auto;
      width: 90%;

      .time-table,
      .stop-time {
        width: 100%;
        font-size: 28px;
      }
    }

    .map {
      height: 500px;
    }
  }
}