<div class="admin">
  <h1 class="admin-header">Labot ievadtekstu</h1>

  <%= render 'form' %>

  <%= link_to 'Parādīt', @maintext, class: 'show' %> |
  <%= link_to 'Atpakaļ', maintexts_path, class: 'back' %>
</div>

